<div class="container">
  <div>
    <ul class="navbar">
      <li class="navlink active">
        <a [routerLink]="['dash']">Home</a>
      </li>
      <li id="logout" class="navlink">
        <a href="/logout">Log Out</a>
      </li>
    </ul>
  </div>
  <div id="welcome">
    <h1>Hi, {{userName}}</h1>
    <a class="btn" [routerLink]="['/new']">Add a Question</a>
  </div>
  <div class="content">
    <input type="search" placeholder="search">
    <table>
      <tr>
        <th>Question</th>
        <th>Answers</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let q of allQuestions">
        <td>{{q.content}}</td>
        <td>{{q._answer.length}}</td>
        <td>
          <a [routerLink]="['/question', q._id]">Show</a>
          <a [routerLink]="['/answer', q._id]">Answer</a>
        </td>
      </tr>
    </table>
  </div>
</div>