<div id="container">
  <a [routerLink]="['/dash']">Home</a>
  <a href="/logout">Logout</a>
  <div id="newQ">
    <form (submit)="newQuestion()">
      <p *ngIf="errMsg.length > 0">{{errMsg}}</p>
      <label for="content">Question:</label>
      <input type="text" name="content" [(ngModel)]="question.content">
      <label for="desc">Description (optional):</label>
      <input type="text" name="desc" [(ngModel)]="question.desc">
      <input type="submit" value="submit">
    </form>
    <button><a [routerLink]="['/dash']">Cancel</a></button>
  </div>
</div>