<div class="container">
  <ul class="navbar">
    <li class="navlink"><a [routerLink]="['/dash']">Home</a></li>
    <li class="navlink" id="logout"><a href="/logout">Log Out</a></li>
  </ul>

  <div>
    <!-- <h3>Question Being Answered</h3> -->
    <form (submit)="newAnswer()">
      <p *ngIf="errMsg.length > 0">{{errMsg}}</p>
      <div class="newinput">
        <label for="content">Answer:</label>
        <br>
        <input type="text" name="content" [(ngModel)]="answer.content">
      </div>
      <div class="newinput">
        <label for="detail">Extra Details:</label>
        <br>
        <input type="text" name="details" [(ngModel)]="answer.detail">
      </div>
      <input class="btn" type="submit" value="submit">
    </form>
  </div>
</div>